.sectionWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
@mixin wrappers {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.informationWrapper {
	@include wrappers;
}

.canvasWrapper {
	@include wrappers;
}

.textContainer {
	width: 500px;
	text-wrap: balance;
	text-transform: uppercase;
	font-weight: 300;
	gap: 3rem;
}
