.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 4rem;
	width: 100vw;
	z-index: 999;
	font-weight: 500;
}

.logoContainer {
	margin-left: 10rem;
	flex-grow: 1;
}

.linkContainer {
	padding-right: 15rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 2rem;
}

.footer {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
