@import "./utils/colors";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	background-color: $color-background;
	color: $color-text;
}

a,
a:visited {
	color: $color-text;
	text-decoration: none;
}

a:hover {
	color: $color-text-hover;
}
