.main {
	display: flex;
}

.navigationContainer {
	position: sticky;
	z-index: 999;
	top: 0;
	height: 700px;
	width: 5rem;
	display: flex;
	margin-left: 4rem;
}

.sections {
	display: flex;
	flex-direction: column;
}
